<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recruiting_App.Properties.Settings.AthleticRecruitingConnectionString"
            connectionString="Data Source=cs1;Initial Catalog=AthleticRecruiting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>